@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* shared css */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary{
    border-radius: 0.5rem;
    background: #FF900E;  
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem 1.8rem;
    border: none;
}


/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
nav h3 {
  color:  #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  gap: 1.8rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #424242;
}
.banner-container{
    text-align: center;
}
.banner-container .banner-content{
    margin: 0 auto;
    max-width: 862px;
    margin-bottom: 4.7rem;
}
.banner-container .banner-content .banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-container .banner-content .banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem; 
    margin: 1.8rem 0rem 1.8rem 0rem;
}
.banner-container img{
    max-width: 1440px;
    width: 100%;
}
/* main section */
main{
    max-width: 1440px;
    margin: 0 auto;
}
section{
    padding: 50px 100px;
}
/* quick-list section styles */
.quick-list-container{
    display: flex;
    align-items: center;
}
.quick-list-teams{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.quick-list-teams img{
    max-width: 342px;
    width: 90%;
}
.quick-list-content{
    width: 65%;
}
.quick-list-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.quick-list-title .quick{
    color:#727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.quick-list-title .features{
    color: #FF900E;
}
.quick-list-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem; 
    margin: 1.8rem 0rem 1.8rem 0rem;
}
/* Features styles */
.features{
    display: flex;
}
.features-content{
    max-width: 580px;
    width: 80%;
}
.features-content .features-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 0.3rem solid #FF900E ;
    padding-left: 1.3rem;
}
.features-content .features-description{
    color:#727272;
    font-weight: 400;
    line-height: 1.6rem;
}
.features-content .card{
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 1.3rem 0rem 1.3rem 0rem;
    padding: 1.8rem;
}
.features-content .card .card-title{
    color:#131313;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}
.features-content .card .card-description{
    color:#727272;
    font-weight: 400;
    line-height: 1.6rem;
}
.features-img img{
    height: 90%;
    width: 100%;

}
.ten-years-badge {
    right: 40px;
    border-radius: 8px;
    background: #FF900E;
    width: 250px;
    padding: 1rem 2rem;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.2rem;
}
.ten-years-badge p{
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
}

/* some facts styles*/

.some-facts-content {
    max-width: 542px;
}
.some-facts-content h3{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.some-facts-content p{
    color:  #727272;
    line-height: 26px;
    margin-bottom: 100px; 
}

.some-facts-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.some-facts-card-container .card{
    max-width: 242px;
    width: 100%;
    padding: 20px;
}

.some-facts-card-container .card h3{
    color:  #424242;
    font-size: 45px;
    font-weight: 600;
    margin: 10px 0px;
}
.some-facts-card-container .card p{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}
/* our-sponspors styles */

.our-sponspors{
    margin-top: 100px;
}
.our-sponspors h2{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
}
.our-sponspors p{
    color: #727272;
    max-width: 542px;
    margin: 30px auto;
    text-align: center;
}
.our-sponspors-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* footer section styles */
footer{
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 50px 100px;
    text-align: center;
}






/* Responsive styles */
/* Responsive For mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 1rem 1.2rem;
    }
    nav,
    .quick-list-container,
    .features
    {
        flex-direction: column;
    }
    nav ul {
        gap: 0.8rem;
    }
    nav h3 {
        margin-bottom: 1.4rem;
    }

    .quick-list-teams{
        width: 100%;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .quick-list-content{
        width: 100%;
        text-align: center;
    }
    .features-img img{
        width: 100%;
    }
    .some-facts-card-container{
        flex-direction: column;
    }
    .our-sponspors-logos{
        flex-direction: column;
        gap: 50px;
    }
}
/* Responsive For tablets and medium device */
@media screen and (min-width:576px) and (max-width:980px){
    header {
        padding: 1rem 1.2rem;
    }
    nav,
    .features{
        flex-direction: column;
    }
    nav ul {
        gap: 0.8rem;
    }
    nav h3 {
        margin-bottom: 1.4rem;
    }
    .some-facts-card-container{
        flex-direction: column;
    }
    .our-sponspors-logos{
        flex-direction: column;
        gap: 50px;
    }
}